body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.logo { width: 120px; margin-bottom: 10px; }

.titulo-verde { color: #388e3c; margin: 0; font-size: 28px; letter-spacing: 2px; }

.subtitulo { color: #555; margin-top: 5px; font-size: 14px; margin-bottom: 30px; }

.input-group { text-align: left; margin-bottom: 20px; }

label { color: #388e3c; font-weight: bold; display: block; margin-bottom: 8px; }

input {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    font-size: 18px;
    outline: none;
}

.btn-registro {
    background-color: #388e3c;
    color: white;
    border: none;
    padding: 18px;
    border-radius: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.banner-rojo {
    background-color: #d32f2f;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
}

#reader { margin-top: 20px; border-radius: 10px; overflow: hidden; }
